/* Página SCRIPT */

/* FONTES =============================================================== */
@font-face{
    font-family: 'Aller-bold';
    src: url(../Componentes/assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold';
    src: url(../Componentes/assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(../Componentes/assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(../Componentes/assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(../Componentes/assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(../Componentes/assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(../Componentes/assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(../Componentes/assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(../Componentes/assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(../Componentes/assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(../Componentes/assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(../Componentes/assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(../Componentes/assets/fonts/asap-semibold-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
}
body{
    position: static;
    background: #d7d7d7;
}
.script-conteudo{
    width: 100%;
}

/* HEADER =============================================================== */
.script-header{
    height: 266px;
    margin-top: 70px;
    background-image: url("../Componentes/assets/images/header2.png");
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.script-header > .script-header-titulo > h2{
    color: white;
    font-size: 60px;
    font-family: 'Aller-bold';
    text-align: center;
}
.script-header > .script-header-titulo > p{
    color: white;
    font-size: 24px;
    font-family: 'Aller-regular';
    text-align: center;
}
.script-header-nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #7a60c5, #215caa);
    box-shadow: 0 2px 100px 15px rgba(50, 50, 50, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.script-header-nav-logo{
    height: 70px;
}

.script-header-nav-conteudo-navbar-links>a{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 20px;
    font-family: "Aller-regular"; 
}

.script-header-nav-conteudo-navbar-links>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}

.script-header-nav-conteudo-navbar-login>a{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 10px;
    font-family: "Aller-regular"; 
}

.script-header-nav-conteudo-navbar-login>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    
}

.script-header-nav-conteudo-navbar-pesquisa > .pesquisa {
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: "Aller-regular";                
}

.script-header-nav-conteudo-navbar-pesquisa > .botao{
    border-radius: 50px;
    padding: 10px 13px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "Aller-regular";
    cursor: pointer;          
}

/* CARD ================================================================= */

.entrar{
    width: 100%;
}
.entrar > .card-entrar{
    width: 550px;
    padding: 20px 0;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: 0 0 20px rgb(70, 70, 70);
    display: flex;
    justify-content: center;
}

.card-entrar form{
    width: 420px;
}

.entrar-com{
    display: block;
    clear: both;
}

.botao-facebook{
    display: block;
    width: 90%;
    background-color: rgb(22, 89, 170);
    border: rgb(22, 89, 170);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 20px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    color: white;
    text-align: center;
}

.botao-facebook:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 300ms;
    cursor: pointer;
}

.botao-gmail{
    display: block;
    width: 90%;
    background-color: rgb(255, 63, 34);
    border: rgb(255, 63, 34);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 20px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    color: white;
    text-align: center;
}

.botao-gmail:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 300ms;
    cursor: pointer;
}

hr{
    background-color: rgb(160, 160, 160);
    height: 0.5px;
    margin: 10px;
}


.titulo{
    font-family: aller-regular
}

.input{
    display: block;
    width: 90%;
    background-color: white;
    border: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    color: black;
}

.dados-invalidos{
    font-family: aller-regular;
    color: red;
    margin: 10px 0; 
}

.esqueciasenha{
    font-family: aller-regular;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.botao-entrar{
    display: block;
    background: linear-gradient(90deg, #7a60c5, #215caa);
    border: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 20px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    color: white;
    cursor: pointer;
}

.botao-entrar:hover{
    background: white;
    color: black;
    transition: 300ms;
}


.voltar{
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 40px auto;
    font-family: "Aller-regular";
    font-size: 21px;
}

.voltar:hover{
    background-color: white;
    transition: 300ms;
    cursor: pointer;
}
    



/* FOOTER =============================================================== */
.script-footer{
    width: 100%;
    height: 230px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.script-grupo{
    display: inline-block;
    margin: 20px;
    margin-right: 70px;
}

.script-grupo-titulo{
    display: block;
    margin-bottom: 30px;
    align-content: center;
    text-decoration: none;
    color: white;
    font-family: "Aller-bold";
}

.script-grupo>ul{
    list-style-type: none;
}

.script-grupo>ul>li{
    margin-bottom: 10px;
}

.script-grupo>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: "Aller-regular";
    font-size: 13px;
}

.script-coluna2-logo{
    height: 110px;
}

.script-logo{
    margin-left: 120px;
}

.script-logo>span{
    display: block;
    color: white;
    font-family: "Aller-regular";
    font-size: 11px;
    text-align: center;
}

.invisivel{
    display: none;
}