/* FONTES */

@font-face{
    font-family: 'Aller-bold';
    src: url(../Componentes/assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(../Componentes/assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(../Componentes/assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(../Componentes/assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(../Componentes/assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(../Componentes/assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(../Componentes/assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(../Componentes/assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(../Componentes/assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(../Componentes/assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(../Componentes/assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(../Componentes/assets/fonts/asap-semibold-webfont.woff) format('woff');
}


*{
    margin: 0;
    padding: 0;
}
body{
    position: static;
    background: #d7d7d7;
}
.conteudo{
    width: 100%;
}
button{
    cursor: pointer;
}

/* HEADER =============================================================== */
.header-home{
    height: 100vh;
    background-image: url("../Componentes/assets/images/bg-index.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}
.feedback-tela-acessibilidade{
    display: block;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}
.header-home > .header-home-titulo{
    transform: translateY(230px);
}

.header-home > .header-home-titulo > div{
    width: 500px;
    margin: auto;
}
.header-home > .header-home-titulo h1{
    font-size: 80px;
    text-align: center;
    font-family: 'Asap-bold';
    color: white;
}
.header-home > .header-home-titulo > p{
    font-size: 30px;
    font-family: 'Asap-regular';
    text-align: center;
    margin: 50px;
    color: white;
    
}
.header-home-nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-home-nav-logo{
    height: 70px;
}

.header-home-nav-conteudo-navbar-links>a{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 20px;
    font-family: "Aller-regular";
    transition: background-color 300ms;
}

.header-home-nav-conteudo-navbar-links>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 300ms;
}

.header-home-nav-conteudo-navbar-login>a{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 10px;
    font-family: "Aller-regular"; 
    transition: background-color 300ms;
}

.header-home-nav-conteudo-navbar-login>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 300ms;
}

.header-home-nav-conteudo-navbar-pesquisa > .pesquisa {
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: "Aller-regular";     
    margin-right: 5px;
}

.header-home-nav-conteudo-navbar-pesquisa > .botao{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 13px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "Aller-regular";
    cursor: pointer;
}


/* SEÇÃO SCRIPTS =============================================================== */
.conteudo .scripts{
    width: 100%;
}
.scripts .titulo{
    width: 100%;
    height: 266px;
    background-image: url("../Componentes/assets/images/header3.png");
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.scripts .titulo .titulo-centralizado{
    width: 700px;
    height: 160px;
}
.scripts .titulo .titulo-centralizado > h2{
    color: white;
    font-size: 60px;
    font-family: 'Aller-bold';
    text-align: center;
}
.scripts .titulo .titulo-centralizado > p{
    color: white;
    font-size: 24px;
    font-family: 'Aller-regular';
    text-align: center;
}


/* SEÇÃO PEDIDOS =============================================================== */
.conteudo .pedidos{
    width: 100%;
}

.pedidos .titulo{
    width: 100%;
    height: 266px; 
}
.pedidos .titulo .titulo-centralizado{
    width: 700px;
    height: 160px;
}
.pedidos .titulo{
    width: 100%;
    height: 266px;
    background-image: url("../Componentes/assets/images/header.png");
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pedidos .titulo .titulo-centralizado > h2{
    color: white;
    font-size: 60px;
    font-family: 'Aller-bold';
    text-align: center;
}
.pedidos .titulo .titulo-centralizado > p{
    color: white;
    font-size: 24px;
    font-family: 'Aller-regular';
    text-align: center;
}


/* FOOTER =============================================================== */
.footer{
    width: 100%;
    height: 230px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-grupo{
    display: inline-block;
    margin: 20px;
    margin-right: 70px;
}

.footer-grupo-titulo{
    display: block;
    margin-bottom: 30px;
    align-content: center;
    text-decoration: none;
    color: white;
    font-family: "Aller-bold";
}

.footer-grupo>ul{
    list-style-type: none;
}

.footer-grupo>ul>li{
    margin-bottom: 10px;
}

.footer-grupo>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: "Aller-regular";
    font-size: 13px;
}

.footer-coluna2-logo{
    height: 110px;
}

.footer-logo{
    margin-left: 120px;
}

.footer-logo>span{
    display: block;
    color: white;
    font-family: "Aller-regular";
    font-size: 11px;
    text-align: center;
}

/* CARDS =============================================================== */

.script-card-conteudo{
    text-align: left;
    color: #232323;
    box-shadow: 0 0 20px rgb(70, 70, 70);
    box-sizing: border-box;
    border-radius: 20px;
    width: 900px;
    background: rgb(245, 245, 245);
    margin: 0px auto;
    margin-top: 40px;
    padding: 30px;
}

.script-card-conteudo-textos{
    height: 130px;
}

.titulo-bloco{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Aller-regular";
}

.subtitulo-bloco{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Aller-regular";
}

.descrição-script{
    font-size: 17px;
    font-family: "Aller-regular";
    color: rgb(31, 31, 31);
}

.botao-mais-detalhes, .botao-mostrar-relacionados{
    display: block;
    float: left;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid rgb(245, 245, 245);
    background: linear-gradient(90deg, #48c0b6, #215caa);
    font-family: "Aller-regular";
    font-size: 21px;  
    margin: 0px 5px;
    transition: 400ms;
}

.botao-mais-detalhes:hover, .botao-mostrar-relacionados:hover{
    border: 2px solid #215caa;
    color: #215caa;
    background: rgb(245, 245, 245);
    transition: 400ms;
}

.botao-mais-detalhes-pedidos, .botao-mostrar-relacionados-pedidos{
    display: block;
    float: left;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid rgb(245, 245, 245);
    background: linear-gradient(135deg, #8360c8, #a61071);
    font-family: "Aller-regular";
    font-size: 21px;  
    margin: 0px 5px;
    transition: 400ms;
}

.botao-mais-detalhes-pedidos:hover, .botao-mostrar-relacionados-pedidos:hover{
    border: 2px solid #8360c8;
    color: #8360c8;
    background: rgb(245, 245, 245);
    transition: 400ms;
}

.div-botoes-bloco-texto{
    width: 450px;
    height: 40px;
    margin: 20px auto 10px auto;
}

.carregar-mais-scripts {
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 40px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    transition: 300ms;
}

.carregar-mais-scripts:hover{
    border: 3px solid #d7d7d7;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #48c0b6, #215caa);
    transition: 300ms;
    cursor: pointer;
}

.carregar-mais-pedidos {
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 40px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    transition: 300ms;
}

.carregar-mais-pedidos:hover{
    border: 3px solid #d7d7d7;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8360c8, #a61071);
    transition: 300ms;
    cursor: pointer;
}


.barra-acessibilidade{
    top: 0;
    position: absolute;
    background: transparent;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    font-family: "Aller-regular";
    font-weight: 300;
}

.barra-acessibilidade > ul{
    list-style-type: none;
    display: flex;
    padding: 85px;
}

.barra-acessibilidade > ul > li > a{
    color: rgba(255, 255, 255, .8);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.barra-acessibilidade > ul > li > a:hover{
    color: rgba(255, 255, 255, 1);
}
