/* FONTES =============================================================== */
@font-face{
    font-family: 'Aller-bold';
    src: url(../Componentes/assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(../Componentes/assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(../Componentes/assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(../Componentes/assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(../Componentes/assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(../Componentes/assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(../Componentes/assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(../Componentes/assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(../Componentes/assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(../Componentes/assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(../Componentes/assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(../Componentes/assets/fonts/asap-semibold-webfont.woff) format('woff');
}


*{
    margin: 0;
    padding: 0;
}
body{
    position: static;
    background: #d7d7d7;
}

.feedback-tela-acessibilidade{
    display: block;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

.header-home{
    width: 100%;
}
.header-pedidos{
    height: 266px;
    margin-top: 100px;
    background-image: url("../Componentes/assets/images/header.png");
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.header-pedidos > .pedidos-header-titulo > h2{
    color: white;
    font-size: 60px;
    font-family: 'Aller-bold';
    text-align: center;
}
.header-pedidos > .pedidos-header-titulo > p{
    color: white;
    font-size: 28px;
    font-family: 'Aller-regular';
    text-align: center;
}
.header-pedidos-nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 30px;
    background: linear-gradient(90deg, #8360c8, #a61071);
    box-shadow: 0 2px 100px 15px rgba(50, 50, 50, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-pedidos-nav-logo{
    height: 70px;
}

.header-pedidos-nav-conteudo-navbar-links>a{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px; 
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 20px;
    font-family: "Aller-regular"; 
    transition: 300ms;
}

.header-pedidos-nav-conteudo-navbar-links>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: 300ms;
}

body > header > nav > div.header-pedidos-nav-conteudo-navbar-links > a:nth-child(2){
    border: 2px solid white;
    background-color: white;
    color: black;
}

.header-pedidos-nav-conteudo-navbar-login>a{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 10px;
    font-family: "Aller-regular"; 
    transition: 300ms;
}

.header-pedidos-nav-conteudo-navbar-login>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: 300ms;
    
}

.header-pedidos-nav-conteudo-navbar-pesquisa > .pesquisa {
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: "Aller-regular";
    margin-right: 5px;                
}

.header-pedidos-nav-conteudo-navbar-pesquisa > .botao{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 13px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "Aller-regular";
    cursor: pointer;          
}


.footer{
    width: 100%;
    height: 200px;
}

/* SEÇÃO CONTEUDO DOS BOTOES =============================================================== */

.conteudo{
    width: 100%;
    position: relative;
    margin: 30px 0px;
}
.botao-fazer-pedido{
    display: block;
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8360c8, #a61071);
    font-family: "Aller-regular";
    font-size: 30px;
    margin: 10px auto;
    width: 395px;
    height: 95px;
    cursor: pointer;
}
.botao-fazer-pedido:hover{
    transition: 250ms;
    border: 3px solid #a61071;
    color: #a61071;
    background: #d7d7d7;
    font-weight: 500;
}

.botao-meus-pedidos{
    display: block;
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8360c8, #a61071);
    font-family: 'Aller-regular';
    font-size: 30px;
    margin: 10px auto;
    height: 95px;
    width: 395px;
    cursor: pointer;
}

.botao-meus-pedidos:hover{
    transition: 250ms;
    border: 3px solid #a61071;
    color: #a61071;
    background: #d7d7d7;
    font-weight: 500;
}

.botao-todos-pedidos{
    display: block;
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8360c8, #a61071);
    font-family: 'Aller-regular';
    font-size: 30px;
    margin: 10px auto;
    height: 95px;
    width: 395px;
    cursor: pointer;
}
.botao-todos-pedidos:hover{
    transition: 250ms;
    border: 3px solid #a61071;
    color: #a61071;
    background: #d7d7d7;
    font-weight: 500;
}


.voltar{
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 40px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    cursor: pointer;
}

.voltar:hover{
    border: 3px solid transparent;
    color: white;
    background-color: #232323;
    transition: 300ms;
    cursor: pointer;
}

/* SEÇÃO FOOTER =============================================================== */

.footer{
    width: 100%;
    height: 230px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-grupo{
    display: inline-block;
    margin: 20px;
    margin-right: 70px;
}

.footer-grupo-titulo{
    display: block;
    margin-bottom: 30px;
    align-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Aller-bold';
}

.footer-grupo>ul{
    list-style-type: none;
}

.footer-grupo>ul>li{
    margin-bottom: 10px;
}

.footer-grupo>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: 'Aller-regular';
    font-size: 13px;
}

.footer-coluna2-logo{
    height: 110px;
}

.footer-logo{
    margin-left: 120px;
}

.footer-logo>span{
    display: block;
    color: white;
    font-family: 'Aller-regular';
    font-size: 11px;
    text-align: center;
}


.barra-acessibilidade{
    top: 0;
    position: absolute;
    background: rgb(70, 70, 70);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    font-family: "Aller-regular";
}

.barra-acessibilidade > ul{
    list-style-type: none;
    display: flex;
    padding: 85px;
}

.barra-acessibilidade > ul > li > a{
    color: rgba(255, 255, 255, .8);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.barra-acessibilidade > ul > li > a:hover{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}
