/* Página SCRIPT */

/* FONTES =============================================================== */
@font-face{
    font-family: 'Aller-bold';
    src: url(../Componentes/assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(../Componentes/assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(../Componentes/assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(../Componentes/assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(../Componentes/assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(../Componentes/assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(../Componentes/assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(../Componentes/assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(../Componentes/assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(../Componentes/assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(../Componentes/assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(../Componentes/assets/fonts/asap-semibold-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
}
body{
    position: static;
    background: #d7d7d7;
}
.script-conteudo{
    width: 100%;
}


/* HEADER =============================================================== */
.script-header{
    height: 266px;
    margin-top: 100px;
    background-image: url("../Componentes/assets/images/header3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.feedback-tela-acessibilidade{
    display: block;
    float: left;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}
.script-header > .enviarscript-header-titulo > h2{
    color: white;
    font-size: 60px;
    font-family: 'Aller-bold';
    text-align: center;
}
.script-header > .enviarscript-header-titulo > p{
    color: white;
    font-size: 28px;
    font-family: 'Aller-regular';
    text-align: center;
}
.script-header-nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 30px;
    background: linear-gradient(90deg, #48c0b6, #215caa);
    box-shadow: 0 2px 100px 15px rgba(50, 50, 50, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.script-header-nav-logo{
    height: 70px;
}

.script-header-nav-conteudo-navbar-links>a{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 20px;
    font-family: "Aller-regular";
    transition: background-color 300ms;
}

.script-header-nav-conteudo-navbar-links>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 300ms;
}

.script-header-nav-conteudo-navbar-login>a{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 10px;
    font-family: "Aller-regular"; 
    transition: background-color 300ms;
}

.script-header-nav-conteudo-navbar-login>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 300ms;
    
}

.script-header-nav-conteudo-navbar-pesquisa > .pesquisa {
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: "Aller-regular";     
    margin-right: 5px;
}

.script-header-nav-conteudo-navbar-pesquisa > .botao{
    display: block;
    float: left;
    border-radius: 50px;
    padding: 10px 13px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "Aller-regular";
    cursor: pointer;
}

/* CARD ================================================================= */

.enviarscript-conteudo{
    width: 100%;
}
.enviarscript-conteudo > .card-script{
    width: 900px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: 0 0 20px rgb(70, 70, 70);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.script-conteudo-card{
    width: 800px;
}

.script-conteudo-card > form{
    margin: 50px 0;
}

.script-conteudo-card > form > p{
    font-family: "Aller-regular";
    font-size: 21px;
    margin-top: 20px;
}

.script-conteudo-card > form > .dados-invalidos{
    display: block;
    font-family: "Aller-regular";
    font-size: 16px;
    color: red;
    margin: 5px 0;
}

.script-conteudo-card > form > .dados-invalidos.invisivel{
    display: none;
}

.script-conteudo-card > form > input, textarea, select{
    width: 100%;
    display: block;
    padding: 10px 20px;
    font-family: "Aller-regular";
    font-size: 21px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    box-sizing: border-box;
}

.script-conteudo-card > form > p.titulo-pedido{
    font-size: 16px;
    color: #494949;
}

.input-descricao{
    height: 200px;
    color: rgb(0, 0, 0);
    resize: none; 
}

.script-conteudo-card > form > .input-file{
    width: 100%;
    margin: 20px 0px;
    padding: 0px;
}

input::-webkit-file-upload-button{
    padding: 10px 20px;
    border-radius: 50px;
    background: none;
    border: 2px solid #232323;
    color: #232323;
}

input::-webkit-file-upload-button:hover{
    background: #232323;
    border: 2px solid rgb(245, 245, 245);
    color: white;
}

.botoes-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.botoes-form > button{
    display: block;
    background: linear-gradient(90deg, #48c0b6, #215caa);
    border: 2px solid rgb(245, 245, 245);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 5px;
    font-family: "Aller-regular";
    font-size: 21px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    transition: 300ms;
}

.botoes-form > .botao-cancelar{
    background: transparent;
    border: 2px solid #215caa;
    color: #215caa;
}

.botoes-form > .botao-cancelar:hover{
    background: linear-gradient(90deg, #48c0b6, #215caa);
    border: 2px solid rgb(245, 245, 245);
    color: white;
}

.botoes-form > .botao-enviar:hover{
    background: transparent;
    border: 2px solid #215caa;
    color: #215caa;
}

.botoes-script li{
    list-style-type: none;
    float: left;
}
.botoes-script li a{
    text-decoration: none;
    font-family: "Aller-regular";
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, #48c0b6, #215caa);
    padding: 10px 20px;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 50px;
    margin: 5px;
    display: block;
}
.botoes-script li a:hover{
    background: none;
    border: 2px solid #215caa;
    color: #215caa;
}

.voltar{
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 40px auto;
    font-family: "Aller-regular";
    font-size: 21px;
    transition: 300ms;
}

.voltar:hover{
    border: 3px solid transparent;
    color: white;
    background-color: #232323;
    transition: 300ms;
    cursor: pointer;
}

/* FOOTER =============================================================== */
.script-footer{
    width: 100%;
    height: 230px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.script-grupo{
    display: inline-block;
    margin: 20px;
    margin-right: 70px;
}

.script-grupo-titulo{
    display: block;
    margin-bottom: 30px;
    align-content: center;
    text-decoration: none;
    color: white;
    font-family: "Aller-bold";
}

.script-grupo>ul{
    list-style-type: none;
}

.script-grupo>ul>li{
    margin-bottom: 10px;
}

.script-grupo>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: "Aller-regular";
    font-size: 13px;
}

.script-coluna2-logo{
    height: 110px;
}

.script-logo{
    margin-left: 120px;
}

.script-logo>span{
    display: block;
    color: white;
    font-family: "Aller-regular";
    font-size: 11px;
    text-align: center;
}


.barra-acessibilidade{
    top: 0;
    position: absolute;
    background: rgb(70, 70, 70);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    font-family: "Aller-regular";
    font-weight: 300;
}

.barra{
    list-style-type: none;
    display: flex;
}

.barra > li > a{
    color: rgba(255, 255, 255, .8);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.barra > li > a:hover{
    color: rgba(255, 255, 255, 1);
}

.barra-acessibilidade-abrir{
    color: rgba(255, 255, 255, .8);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.barra-acessibilidade-abrir:hover{
    color: rgba(255, 255, 255, 1);
}

.invisivel{
    display: none;
}

@media screen and (max-width: 1050px) {
    .header-fazer-pedido-nav, .barra-acessibilidade{
        width: 1050px;
    }
}