/* Página meus pedidos */

/* FONTES =============================================================== */
@font-face{
    font-family: 'Aller-bold';
    src: url(../Componentes/assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(../Componentes/assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(../Componentes/assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(../Componentes/assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(../Componentes/assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(../Componentes/assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(../Componentes/assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(../Componentes/assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(../Componentes/assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(../Componentes/assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(../Componentes/assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(../Componentes/assets/fonts/asap-semibold-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
}
body{
    position: static;
    background: #d7d7d7;
}

.feedback-tela-acessibilidade{
    display: block;
    float: left;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

.header-sobre-nos{
    height: 266px;
    margin-top: 100px;
    background-image: url("../Componentes/assets/images/header2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.header-sobre-nos > .header-sobre-nos-titulo > h2{
    color: white;
    font-size: 60px;
    font-family: 'Aller-bold';
    text-align: center;
}
.header-sobre-nos > .header-sobre-nos-titulo > p{
    color: white;
    font-size: 24px;
    font-family: 'Aller-regular';
    text-align: center;
}
.header-sobre-nos-nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #7a60c5, #215caa);
    box-shadow: 0 2px 100px 15px rgba(50, 50, 50, 0.25);
}

.header-sobre-nos-nav-logo{
    height: 70px;
}

.header-sobre-nos-nav-conteudo-navbar-links>a{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 20px;
    font-family: "Aller-regular"; 
}

.header-sobre-nos-nav-conteudo-navbar-links>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 300ms;
}

.header-sobre-nos-nav-conteudo-navbar-login>a{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 10px;
    font-family: "Aller-regular"; 
}

.header-sobre-nos-nav-conteudo-navbar-login>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 300ms;
}

.header-sobre-nos-nav-conteudo-navbar-pesquisa > .pesquisa {
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: "Aller-regular";                
}

.header-sobre-nos-nav-conteudo-navbar-pesquisa > .botao{
    border-radius: 50px;
    padding: 10px 13px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "Aller-regular";
    cursor: pointer;          
}


/* SEÇÃO CONTEUDO CARDS =============================================================== */

.conteudo{
    width: 100%;
    background-color: #d7d7d7;
    padding: 40px 0 40px 0;
}
.sobre-nos-div{
    text-align: left;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    width: 1000px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 0px 0 5px 0;
}
.sobre-nos-card{
    padding: 20px;
}
.card-conteudo{
    text-align: left;
    color: #232323;
    box-shadow: 0 0 20px rgb(70, 70, 70);
    box-sizing: border-box;
    border-radius: 20px;
    width: 1000px;
    background: rgb(245, 245, 245);
    margin: 0px auto;
    padding: 30px;
}

.titulo-bloco{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Aller-regular";
}

.categoria-bloco{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Aller-regular";
}

/* .subtitulo-bloco{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Aller-regular";
} */

.descricao-script{
    font-size: 17px;
    font-family: "Aller-regular";
    color: rgb(31, 31, 31);
}

.sobre-nos-titulo{
    color: black;
    font-size: 32px;
    font-family: "Aller-regular";
}
.texto-sobre-nos{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Aller-light';
}
.button{
    border: none;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #7a60c5, #a61071);
    font-family: "Aller-regular";
    font-size: 21px;  
    margin: auto 30px;
    margin-top: 60px;
}

.button:hover{
    background: #d7d7d7;
    color: #a61071;
    border: 3px solid #a61071;
    transition: 500ms;
    transform: scale(1.1);
}

.div-botoes-bloco-texto{
    text-align: center;
}

.carregar-mais {
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 30px auto;
    font-family: "Aller-regular";
    font-size: 21px; 
}

.carregar-mais:hover{
    border: 3px solid transparent;
    color: white;
    background-color: #232323;
    transition: 300ms;
    cursor: pointer;
}

.botao-voltar{
    padding-bottom: 10px;
}

.voltar{
    display: block;
    border: 3px solid #232323;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 30px auto;
    font-family: "Aller-regular";
    font-size: 21px; 
}

.voltar:hover{
    border: 3px solid transparent;
    color: white;
    background-color: #232323;
    transition: 300ms;
    cursor: pointer;}
/* SEÇÃO FOOTER =============================================================== */

.footer{
    width: 100%;
    height: 230px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-grupo{
    display: inline-block;
    margin: 20px;
    margin-right: 70px;
}

.footer-grupo-titulo{
    display: block;
    margin-bottom: 30px;
    align-content: center;
    text-decoration: none;
    color: white;
    font-family: "Aller-bold";
}

.footer-grupo>ul{
    list-style-type: none;
}

.footer-grupo>ul>li{
    margin-bottom: 10px;
}

.footer-grupo>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: "Aller-regular";
    font-size: 13px;
}

.footer-coluna2-logo{
    height: 110px;
}

.footer-logo{
    margin-left: 120px;
}

.footer-logo>span{
    display: block;
    color: white;
    font-family: "Aller-regular";
    font-size: 11px;
    text-align: center;
}


.barra-acessibilidade{
    top: 0;
    position: absolute;
    background: rgb(70, 70, 70);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    font-family: "Aller-regular";
    font-weight: 300;
  }
  
  .barra{
    list-style-type: none;
    display: flex;
  }
  
  .barra > li > a{
    color: rgba(255, 255, 255, .8);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
  }
  
  .barra > li > a:hover{
    color: rgba(255, 255, 255, 1);
  }
  
  .barra-acessibilidade-abrir{
    color: rgba(255, 255, 255, .8);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
  }
  
  .barra-acessibilidade-abrir:hover{
    color: rgba(255, 255, 255, 1);
  }
  
  .invisivel{
    display: none;
  }
  
  @media screen and (max-width: 1050px) {
    .header-sobre-nos-nav, .barra-acessibilidade{
        width: 1050px;
    }
  }