/* Página explorar principal */

@font-face{
    font-family: "Aller bold";
    src: url(/Componentes/assets/fonts/aller_bd-webfont.woff) format(woff);
}

@font-face{
    font-family: "Aller bold italico";
    src: url(/Componentes/assets/fonts/aller_bdit-webfont.woff) format(woff);
}

@font-face{
    font-family: "Aller italico";
    src: url(/Componentes/assets/fonts/aller_it-webfont.woff) format(woff);
}

@font-face{
    font-family: "Aller light";
    src: url(/Componentes/assets/fonts/aller_lt-webfont.woff) format(woff);
}

@font-face{
    font-family: "Aller light italico";
    src: url(/Componentes/assets/fonts/aller_ltit-webfont.woff) format(woff);
}

@font-face{
    font-family: "Aller regular";
    src: url(/Componentes/assets/fonts/aller_rg-webfont.woff) format(woff);
}

@font-face{
    font-family: "Asap bold";
    src: url(/Componentes/assets/fonts/asap-bold-webfont.woff) format(woff);
}

@font-face{
    font-family: "Asap bold italico";
    src: url(/Componentes/assets/fonts/asap-bolditalic-webfont.woff) format(woff);
}

@font-face{
    font-family: "Asap italico";
    src: url(/Componentes/assets/fonts/asap-italic-webfont.woff) format(woff);
}

@font-face{
    font-family: "Asap medio";
    src: url(/Componentes/assets/fonts/asap-medium-webfont.woff) format(woff);
}


@font-face{
    font-family: "Asap regular";
    src: url(/Componentes/assets/fonts/asap-regular-webfont.woff) format(woff);
}

@font-face{
    font-family: "Asap semibold";
    src: url(/Componentes/assets/fonts/asap-semibold-webfont.woff) format(woff);
}


*{
    margin: 0;
    padding: 0;
}
body{
    position: static;
}
.header-home{
    width: 100%;
    height: 50vh;
}
.header-home .titulo{
    width: 100%;
    height: 266px;
    background-image: url(/projeto2-stakeholders/Componentes/assets/images/header2.png);
}
.header-home .titulo > h1{
    font-size: 70px;
    text-align: center;
    color: white;
    padding-top: 40px;
}
.header-home .titulo > p{
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;

}
.nav-home{
    width: 100%;
    height: 70px;
    background-color: aquamarine;
    position: relative;
    top: 0;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: violet;
}
.conteudo{
    width: 100%;
    background-color: #d7d7d7;
    position: relative;
}
.botao-scripts{
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #48c0b6, #215caa);
    font-family: Aller regular;
    font-size: 30px;  
    margin-top: 40px;
    margin-left: 35vw;
    width: 395px;
    height: 95px;
}
.botao-scripts:hover{
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #48c0b6, #215caa);
    font-family: "Aller-regular";
    font-size: 30px;  
    margin-top: 40px;
    margin-left: 35vw;
    transform: scale(1.1);
    width: 395px;
    height: 95px;

}
.botao-pedidos{
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8360c8, #a61071);
    font-family: Aller regular;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 35vw;
    width: 395px;
    height: 95px;
}
.botao-pedidos:hover{
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8360c8, #a61071);
    font-family: "Aller-regular";
    font-size: 30px;  
    margin-top: 20px;
    margin-left: 35vw;
    transform: scale(1.1);
    width: 395px;
    height: 95px;
}
.botao-dev{
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #7a60c5, #215caa);
    font-family: Aller regular;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 35vw;
    width: 395px;
    height: 95px;
}
.botao-dev:hover{
    border: none;
    color: #ffffff;
    border-radius: 300px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #7a60c5, #215caa);
    font-family: "Aller-regular";
    font-size: 30px;  
    margin-top: 20px;
    margin-left: 35vw;
    transform: scale(1.1);
    width: 395px;
    height: 95px;
}
.footer{
    width: 100%;
    height: 230px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-grupo{
    display: inline-block;
    margin: 20px;
    margin-right: 70px;
}

.footer-grupo-titulo{
    display: block;
    margin-bottom: 30px;
    align-content: center;
    text-decoration: none;
    color: white;
    font-family: "Aller-bold";
}

.footer-grupo>ul{
    list-style-type: none;
}

.footer-grupo>ul>li{
    margin-bottom: 10px;
}

.footer-grupo>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: "Aller-regular";
    font-size: 13px;
}

.footer-coluna2-logo{
    height: 110px;
}

.footer-logo{
    margin-left: 120px;
}

.footer-logo>span{
    display: block;
    color: white;
    font-family: "Aller-regular";
    font-size: 11px;
    text-align: center;
}

.header-home-nav{
    width: 100%;
    height: 70px;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #7a60c5, #215caa);
}

.header-home-nav-logo{
    height: 70px;
}

.header-home-nav-logo:hover{
    cursor: pointer;
}

.header-home-nav-conteudo-navbar-links>a{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 20px;
    font-family: "Aller-regular"; 
}

.header-home-nav-conteudo-navbar-links>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}

.header-home-nav-conteudo-navbar-login>a{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    margin: 10px;
    font-family: "Aller-regular"; 
}

.header-home-nav-conteudo-navbar-login>a:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    
}

.header-home-nav-conteudo-navbar-pesquisa > .pesquisa {
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: "Aller-regular";                
}

.header-home-nav-conteudo-navbar-pesquisa > .botao{
    border-radius: 50px;
    padding: 10px 13px;
    border: 2px solid white;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "Aller-regular";
    cursor: pointer;          
}
